<!DOCTYPE html>
<html lang="en">
<head>
<title>TASA @ Berkeley Admin Page</title>
</head>
<body>
{% if session.logged_in %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
          {% for message in messages %}
            <li> System Message: {{ message }} </li>
          {% endfor %}
        </ul>
        {% endif %}
      {% endwith %}

      <form action="{{ url_for('add_event') }}" method=post class=add-event>
          <dl>
            <dt>Link:
            <dd><input type=text size=50 name=link>
            <dd><input type=submit value=AddEvent>
          </dl>
      </form>
      <br><br>
      <form action="{{ url_for('add_officer') }}" method=post enctype=multipart/form-data>
        <dl>
        <dt>Name:
        <dd><input type=text size=40 name=name>
        <dt>Year:
        <dd><input type=text size=2 name=year>
        <dt>Major:
        <dd><input type=text size=40 name=major>
        <dt>Position:
        <dd><input type=text size=40 name=position>
        <dt>Quote:
        <dd><input type=text size=100 name=quote>
        <dt>Description:
        <dd><input type=text size=100 name=description>
        <dt>File:
      	<dd><input type=file name=file>
        <br><br>
      	<dd><input type=submit value=AddOfficer>
        </dl>
      </form>
      <br><br>
      <form action="{{url_for('add_family') }}" method=post>
          <dl>
              <dt>Family Name:
              <dd><input type=text size=40 name=family_name>
              <dt>Family Head 1:
              <dd><input type=text size=40 name=family_head1>
              <dt>Family Head 2:
              <dd><input type=text size=40 name=family_head2>
              <dt>Description:
              <dd><input type=text size=100 name=description>
              <dt>Relative Image URL:
              <dd><input type=text size=70 name=image_url>
              <dd><input type=submit value=AddFamily>
          </dl>
      </form>
{% endif %}
<h2>All Events in DB:</h2>
  <ul>
  {% for event in events %}
    <li><h4>{{ event.title }}</h4></li>
  {% endfor %}

  </ul>
<h2>All Officers in DB:</h2>
  <ul>
  {% for officer in officers %}
    <li><h4>{{ officer.name }}</h4></li>
  {% endfor %}

  </ul>
</body>
</html>
