<!DOCTYPE html>
<html lang="en">
<head>
<title>TASA @ Berkeley Admin Page</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Yantramanav:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
<link href="{{ url_for('static', filename='css/tasa.css') }}" rel="stylesheet">
</head>
<body>
{% if session.logged_in %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="alert alert-info" role="alert">
          System Message: {{ messages[0] }}
        </div>
        {% endif %}
      {% endwith %}
      <div class="container-fluid">
        <div class="row welcome">
          <div class="col"></div>
          <div class="col">
            <h1>TASA @ Berkeley Admin Page</h1>
          </div>
          <div class="col"></div>
        </div>
        <div class="row welcome">
          <div class="col"></div>
          <div class="col">
            <h2>Add an event</h2>
            <p>Enter a Facebook event url, e.g. https://facebook.com/events/123456/</p>
            <form action="{{ url_for('add_event') }}" method=post class=add-event>
                <dl>
                  <dt>Link:
                  <dd><input type=text size=50 name=link>
                  <dd><input type=submit value="Add event">
                </dl>
            </form>
          </div>
          <div class="col"></div>
        </div>
        <div class="row welcome">
          <div class="col"></div>
          <div class="col">
            <h2>Add an officer</h2>
            <form action="{{ url_for('add_officer') }}" method=post enctype=multipart/form-data>
              <dl>
              <dt>Name:
              <dd><input type=text size=50 name=name>
              <dt>Year:
              <dd><input type=text size=50 name=year>
              <dt>Major:
              <dd><input type=text size=50 name=major>
              <dt>Position:
              <dd><input type=text size=50 name=position>
              <dt>Quote:
              <dd><textarea type=text rows=2 cols=50 name=quote></textarea>
              <dt>Description:
              <dd><textarea type=text rows=4 cols=50 name=description></textarea>
              <dt>Image:
            	<dd><input type=file name=file>
              <br><br>
            	<dd><input type=submit value="Add officer">
              </dl>
            </form>
          </div>
          <div class="col"></div>
        </div>
        <div class="row welcome">
          <div class="col"></div>
          <div class="col">
            <h2>Add family</h2>
              <form action="{{ url_for('add_family') }}" method=post enctype=multipart/form-data>
                  <dl>
                      <dt>Family Name:
                      <dd><input type=text size=50 name=family_name>
                      <dt>Family Head 1:
                      <dd><input type=text size=50 name=family_head1>
                      <dt>Family Head 2:
                      <dd><input type=text size=50 name=family_head2>
                      <dt>Description:
                      <dd><textarea type=text rows=4 cols=50 name=description></textarea>
                      <dt>Image:
                      <dd><input type=file name=file>
                      <br><br>
                      <dd><input type=submit value=AddFamily>
                  </dl>
              </form>
          </div>
          <div class="col"></div>
        </div>
        <div class="row">
          <div class="col">
            <h2>All Events in DB:</h2>
              <ul>
              {% for event in events %}
                <li><h4>{{ event.title }}</h4></li>
              {% endfor %}
              </ul>
          </div>
          <div class="col">
            <h2>All Officers in DB:</h2>
              <ul>
              {% for officer in officers %}
                <li><h4>{{ officer.name }}</h4></li>
              {% endfor %}
              </ul>
          </div>
        </div>
      </div>
{% endif %}
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
