{% extends "base.html" %}
  {% block content %}
  <div id="slide1" class="family-splash">
        <h1 class="head-title noselect">
          Families
        </h1>
      </div>

      <div class="container-fluid">
        <div class="row row-pad event">
          <div class="col-md-12 col-pad">
            <h2>Family System</h2>
            <p class="text-justify">Aside from our weekly events, TASA also offers our members the opportunity to meet new people outside of the college setting through smaller meet-ups that usually take place on the weekends. The family system works with smaller groups within the larger TASA community, which allows our members to make friends through the comfort of a closer environment. Activities with the families usually include going out for dinner at the many restuarants around Berkeley, exploring places such as Emeryville or San Francisco, or even cozy game nights where members can make fresh baked cookies.</p>
          </div>
        </div>
        <div class="row row-pad event">
          <div class="col-md-6 col-pad">
            <div class="family1 mobile-height">
              <div class="officer-name">Taihaowan</div>
            </div>
             <div class="quote officer-pad">Zoey Kenny & Angus Lin</div>
                <p class="text-justify officer-desc officer-pad">
                  Hi everyone, and welcome to the Taihaowan (太好玩, literally “too much fun” in Mandarin) family! As the name suggests, we like to have a lot of fun by meeting new friends and trying new experiences! Whether it’s going on trips outside of Berkeley, eating all the tasty things, or just hanging out with us, we guarantee that it’ll be taihaowan (get it…?). Come out to our events this semester and we promise you’ll have the time of your life. We’re so excited to meet you this semester!</p>
                </div>
          <div class="col-md-6 col-pad">
            <div class="family2 mobile-height">
              <div class="officer-name">TaiChill</div>
            </div>
             <div class="quote officer-pad">Yiming Jen & Winston Lee</div>
                <p class="text-justify officer-desc officer-pad">
                  Hey y’all! We’re the TaiChill family and we’re the chillest family in TASA. Between classes and clubs, life at Berkeley is busy enough, so come and relax with TaiChill. TaiChill extends TASA’s legendary family lineage through its awesome and chill Family Heads: Yiming and Winston. We’re always DTC (down to chill) whatever the occasion, so feel free to hit up any of us whenever! We’ve got lots of fun events planned for you guys this semester, and with your help, we can make this semester the chillest ever! Come out and join TaiChill!</p>
                </div>
          </div>
          </div>
        </div>
      </div>
  {% endblock %}