{% extends "base.html" %}
  {% block content %}

  <div id="slide1" class="files-splash">
        <h1 class="head-title noselect">
          Files
        </h1>
      </div>
      <div class="container-fluid">
        <div class="row row-pad event">
          <div class="col-md-12 col-pad">
            <h2>Current Semester - Fall 2015</h2>
            <h4 class="faded">Intern Applications</h4>
            <p class="text-left">
              <a href="http://goo.gl/forms/hs9WBhyWbS" target="_blank">Fall 2015 Intern Application - Due September 13 11:59pm</a> <br>
              TASA Intern Guidelines (<a href="http://tasa.berkeley.edu/files/tasa_intern_guidelines.pdf" target="_blank">pdf</a>)</p>

              <h4 class="faded">Newsletters</h4>
              <p class="text-left">
              Check back soon!</p>

              <h4 class="faded">Officer Applications for Spring 2016</h4>
              <p class="text-left">
              <a href="http://berkeley.us6.list-manage.com/track/click?u=9eec0da79b013380e34061d39&id=2309f300e2&e=85a55bf7a0" target="_blank">Spring 2016 Officer Application - Due December 3 11:59pm</a><br>
              TASA Officer Guidelines (<a href="http://tasa.berkeley.edu/files/tasa_officer_guidelines.pdf" target="_blank">pdf</a>)</p>
          </div>
        </div>
        <div class="row event">
          <div class="col-md-4 col-pad">
            <h2>2014-2015</h2>
            <h4 class="faded">Fall 2014</h4>
            <p class="text-left">
              September - First General Meeting (<a href="http://tasa.berkeley.edu/files/2014_sept.pdf">pdf</a>) <br/>
              October - Second General Meeting (<a href="http://tasa.berkeley.edu/files/2014_oct.pdf">pdf</a>)</p>
            <h4 class="faded">Spring 2015</h4>
            <p class="text-left">
              January - First General Meeting (<a href="http://tasa.berkeley.edu/files/2015_jan.pdf">pdf</a>)</p>
          </div>
          <div class="col-md-4 col-pad">
            <h2>2013-2014</h2>
            <h4 class="faded">Fall 2013</h4>
            <p class="text-left">
              September - First General Meeting (<a href="http://tasa.berkeley.edu/files/2013_sept.pdf">pdf</a>) <br/>
              October - Second General Meeting (<a href="http://tasa.berkeley.edu/files/2013_nov.pdf">pdf</a>)</p>
            <h4 class="faded">Spring 2014</h4>
            <p class="text-left">
              January - First General Meeting (<a href="http://tasa.berkeley.edu/files/2014_jan.pdf">pdf</a>) <br/>
              April - Second General Meeting (<a href="http://tasa.berkeley.edu/files/2014_apr.pdf">pdf</a>) <br/>
             ** TASA Banquet Book ** (<a href="http://tasa.berkeley.edu/files/2014_tasa_banquet_book.pdf">pdf</a>)</p>
          </div>
          <div class="col-md-4 col-pad">
            <h2>Previous Years</h2>
            <p class="text-left"><a href="http://tasa.berkeley.edu/old_site/files.html">Old Site</a> (2012-2015) <br>
              <a href="http://tasa.berkeley.edu/ALL_ARCHIVES/ancient%20site/archive/index.html">Ancient Site</a> (???? - 2012)</p>
          </div>
        </div>
      </div>

   {% endblock %}