{% extends "base.html" %}
  {% block content %}

  <div id="slide1" class="files-splash">
        <h1 class="head-title noselect">
          Files
        </h1>
      </div>
      <div class="container-fluid">
        <div class="row row-pad event">
          <div class="col-md-12 col-pad">
            <h2>Current Semester - Spring 2017</h2>
            <h4 class="faded">Officer Applications</h4>
            <p class="text-left">
            <a href="https://docs.google.com/a/berkeley.edu/forms/d/e/1FAIpQLSfBrZWMOYzvjgknm49Ul1_1sosL62yGMgykZSE0kWgxeLcQZg/viewform?c=0&w=1" target="_blank">Officer Application</a>
            <br>
            Intern Guidelines (<a href="{{ url_for('static', filename='files/tasa_intern_guidelines.pdf') }}" target="_blank">pdf</a>)</p>

              <h4 class="faded">Newsletters</h4>
              <p class="text-left">
              Check back soon!</p>

          </div>
        </div>
        </div>
      </div>

   {% endblock %}
