{% extends "base.html" %}
	{% block content %}
	<div id="slide1" class="officer-splash">
        <div class="officer-title noselect">
          Officers
        </div>
    </div>
    <div id="nav" class="container-fluid">
        <div class="row row-fluid row-pad officer">
        {% if officers|length > 23 %}
        	<div class="col-md-1 col-pad"></div>
        {% endif %}
        {% for officer in officers %}
        	{% if loop.index0 in [0, 3, 7, 11, 15, 23] %}
        		<div class="col-md-2 col-pad">
        		<h3 class="event-subheader">{{ officer.position }}</h3>
        		<a href="{{ officer.href }}"><p class="event-text">{{ officer.name }}</p></a>
        	{% elif loop.index0 in [1, 4, 5, 9] %}
        		<h3 class="event-subheader">{{ officer.position }}</h3>
        		<a href="{{ officer.href }}"><p class="event-text">{{ officer.name }}</p></a>
        	{% elif loop.index0 in [2, 6, 10, 14, 22, 30] %}
        		<a href="{{ officer.href }}"><p class="event-text">{{ officer.name }}</p></a>
        		</div>
        	{% elif loop.index0 in [8, 12, 13, 16, 17, 18, 19, 20, 21, 24, 25, 26, 27, 28, 29]}
        		<a href="{{ officer.href }}"><p class="event-text">{{ officer.name }}</p></a>
        	{% endif %}
        {% endfor %}
        </div>
    </div>
    <div class="container-fluid">
    {% for officer in officers %}
    	{% if loop.first %}
    	<div class="row row-fluid officer row-pad">
            <div class="col-md-12 col-pad">
